
<section id="home" class="header_area">
    <div id="header_navbar" class="header_navbar">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <nav class="navbar navbar-expand-lg">
              <a class="navbar-brand" href="#">
                <img src="assets/images/logo.png" width="32px" alt="Logo">
              </a>
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
                <span class="toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                <ul id="nav" class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="page-scroll active" href="#home">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" href="#about">About</a>
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" href="#services">Services</a>
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" href="#portfolio">Gallery</a>
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" href="#team">Team</a>
                  </li>
                  <li class="nav-item">
                    <a class="page-scroll" href="/links">Links</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <div class="header_hero">
      <div class="single_hero bg_cover d-flex align-items-center" style="background-image: url(assets/images/hero.webp)">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
              <div class="hero_content text-center">
                <h2 class="hero_title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">BUILD TO ADAPT
                </h2>
                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.5s"> 'Built to Last’ might have been a popular mantra. 
                  <br />But 'Build to Adapt’ could be the way to go.</p>
                <a href="#features" class="main-btn wow fadeInUp" data-wow-duration="1.3s"
                  data-wow-delay="0.8s">Explore</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section id="features" class="features_area pt-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section_title text-center pb-25">
            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Why Choose Us</h4>
            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">We are passionately driven by the vision of being proud of what we do</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-lg-3 col-md-7">
          <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <i class="lni lni-customer"></i>
            <h4 class="features_title">RESPONSIBILITY</h4>
            <p>Key is that we be responsible for everything we do. Being responsible, we
              won't sit idly by and watch our projects fall apart through neglect. We own the problem and the solution end-to-end. 
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-7">
          <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
            <i class="lni lni-user"></i>
            <h4 class="features_title">PROFESSIONALISM</h4>
            <p>We feel it's an attitude, a style, a philosophy
              of approaching problems and their solutions. We think beyond the immediate problem.
              After all, without this larger context, how can we be pragmatic?
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-7">
          <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">
            <i class="lni lni-thought"></i>
            <h4 class="features_title">PRAGMATISM</h4>
            <p>We believe in change. There are no easy answers. There is no such thing as a
              best solution, be it a tool, a language, or an operating system. Pragmatic Programmers get the job done, and do it well
            </p>
          </div>
        </div>
        <div class="col-lg-3 col-md-7">
          <div class="single_features text-center mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">
            <i class="lni lni-graduation"></i>
            <h4 class="features_title">PRIDE</h4>
            <p>We don't shirk from responsibility. Instead, we rejoice in accepting
              challenges and in making our expertise well known. If we are responsible for a design, or a
              piece of code, we do a job we can be proud of.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section id="about" class="pt-130">
    <div class="about_area">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <div class="about_content pt-120 pb-130">
              <div class="section_title pb">
                <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Our
                  Promise</h4>
                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">As aspiring Software Craftsmen we are raising the bar of professional software development by practicing it and helping others learn the craft. Through this work we have come to value:</p>
                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">
                  Not only working software,
                  <br>but also <strong> well-crafted software </strong>
                </p>
                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">
                  Not only responding to change,
                  <br>but also <strong> steadily adding value </strong>
                </p>
                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">
                  Not only individuals and interactions,
                  <br>but also <strong> a community of professionals </strong>
                </p>
                <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.6s">
                  Not only customer collaboration,
                  <br>but also <strong> productive partnerships </strong>
                </p>
              </div>
              <a href="https://manifesto.softwarecraftsmanship.org/" target="_blank" class="main-btn wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.7s">Software Craftsmanship Manifesto</a>
            </div>
          </div>
        </div>
      </div>
      <div class="about_image bg_cover wow fadeInLeft" data-wow-duration="1.3s" data-wow-delay="0.2s"
        style="background-image: url(assets/images/craft.jpg)">
        <div class="image_content">
          <h4 class="experience"><span>5</span> Years of Passion</h4>
        </div>
      </div>
    </div>
  </section>
  
  
  <section id="services" class="features_area pt-120">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section_title text-center pb-25">
            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Our Services</h4>
            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-6">
          <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <i class="lni lni-consulting"></i>
            <h4 class="features_title">Consulting</h4>
            <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
            <i class="lni lni-mic"></i>
            <h4 class="features_title">Trainings</h4>
            <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .
            </p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <div class="single_features text-center mt-60 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
            <i class="lni lni-code"></i>
            <h4 class="features_title">Software Development</h4>
            <p>Lorem ipsum dolor sit amet, sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore magna .
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section id="team" class="team_area pt-120 pb-130">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <div class="section_title text-center pb-25">
            <h4 class="title wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">Meet The Team</h4>
            <p class="wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">Lorem ipsum dolor sit
              amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt labor dolore.</p>
          </div>
        </div>
      </div>
      <div class="row justify-content-center team_active">
        <div class="col-lg-4 col-md-8 col-sm-10">
          <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.2s">
            <img src="assets/images/team-1.jpg" alt="team">
            <div class="team_content">
              <h4 class="team_name"><a href="#">Jassa.</a></h4>
              <p>Head Of Ideas</p>
              <ul class="social">
                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-10">
          <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.3s">
            <img src="assets/images/team-2.jpg" alt="team">
            <div class="team_content">
              <h4 class="team_name"><a href="#">Nancy L.</a></h4>
              <p>UX Designer</p>
              <ul class="social">
                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-8 col-sm-10">
          <div class="single_team mt-30 wow fadeInUp" data-wow-duration="1.3s" data-wow-delay="0.4s">
            <img src="assets/images/team-3.jpg" alt="team">
            <div class="team_content">
              <h4 class="team_name"><a href="#">Michael P.</a></h4>
              <p>Creative Designer</p>
              <ul class="social">
                <li><a href="#"><i class="lni lni-facebook-filled"></i></a></li>
                <li><a href="#"><i class="lni lni-twitter-original"></i></a></li>
                <li><a href="#"><i class="lni lni-linkedin-original"></i></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  <section id="testimonial" class="testimonial_area pt-130 pb-130 bg_cover"
    style="background-image: url(assets/images/testimonial.jpg)">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8">
          <div class="glide testimonial_active">
            <div class="glide__track" data-glide-el="track">
              <div class="glide__slides">
                <div class="glide__slide single_testimonial text-center">
                  <img src="assets/images/author-1.jpg" alt="author">
                  <h5 class="author_name">Linda</h5>
                  <span>UX Specialist, Yoast</span>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                  </p>
                </div>
                <div class="glide__slide single_testimonial text-center">
                  <img src="assets/images/author-2.jpg" alt="author">
                  <h5 class="author_name">Nancy</h5>
                  <span>Sr. Software Engineer</span>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                  </p>
                </div>
                <div class="glide__slide single_testimonial text-center">
                  <img src="assets/images/author-3.jpg" alt="author">
                  <h5 class="author_name">Elon Musk</h5>
                  <span>Creaitve Businessman</span>
                  <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod
                    tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At
                    vero eos accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren.
                  </p>
                </div>
              </div>
            </div>
            <div class="glide__bullets" data-glide-el="controls[nav]">
              <button class="glide__bullet" data-glide-dir="=0"></button>
              <button class="glide__bullet" data-glide-dir="=1"></button>
              <button class="glide__bullet" data-glide-dir="=2"></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  
  